{% extends 'blog/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}
        {{ post.tile }}
    {% endblock %}</title>
</head>
<body>
{% block content %}
    <h2>{{ post.title }}</h2>
    <p class="date">
        Published {{ post.publish }} by {{ post.author }}
    </p>
    {{ post.body|linebreaks }}
    <p>
        <a href="{% url 'blog:post_share' post_id=post.id %}">share this post</a>
    </p>
{% endblock %}
</body>
</html>